.wrapper {
  > .header {
    background-color: #242584;
    > ul {
      display: grid;
      list-style: none;
      grid-template-columns: 1fr 2fr 1fr;
      padding: 0;
      height: 100%;
      justify-content: space-between;
      margin: auto;
      color: white;
      width: 1200px;
      > li.menu {
        > .logo {
          display: flex;
          align-items: center;
        }
        > ul {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
        }
      }
      > li.search {
        > div {
          display: flex;
          align-items: center;
        }
      }
    }
    > .nav {
      display: none;
    }
  }
  > .hero {
    width: 100%;
    left: 0;
    background-color: #242584;
    color: white;
    > .hero__content {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      > .img__left {
        position: absolute;
        z-index: 0;
        left: 0;
        overflow: hidden;
        > img {
          margin-left: -110px;
        }
      }
      > .img__right {
        position: absolute;
        z-index: 0;
        right: 0;
        overflow: hidden;
        > img {
          margin-right: -277px;
        }
      }
      > .word {
        margin-bottom: 110px;
        z-index: 1;
        > h1 {
          font-size: 4.2rem;
          font-weight: 800;
        }
      }
      > .banner {
        height: 620px;
        z-index: 1;
        > img {
          margin-top: 120px;
          width: 590px;
        }
      }
    }
  }
  > .main__container {
    width: 1500px;
    margin: auto;
    > .content__container {
      margin-top: 80px;
      > .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        > .word {
          > h2 {
            margin-top: 101px;
            font-size: 33px;
            font-weight: 800;
            color: #242584;
          }
        }
      }
    }
    > .whatpeoplesay {
      margin-bottom: 11rem;
      overflow: hidden;
      min-width: 110%;
      padding: 10px 0;
      > .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
          > .icon__heart {
            background-color: #fe0203;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 50px;
            > svg {
              font-size: 35px;
              color: white;
            }
          }
        }
        > h2 {
          margin: 0;
          font-size: 33px;
          font-weight: 800;
          color: #242584;
          width: 510px;
        }
      }
      > .testimoni {
        display: grid;
        grid-gap: 40px;
        padding-left: 10px;
        > .person {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
          padding: 10px;
          border-radius: 7px;
          min-width: 600px;
          > .identity {
            display: flex;
            align-items: center;
            > img {
              border-radius: 50%;
              width: 50px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    > .modal__add__people {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 10;
      > .modal {
        background-color: white;
        height: 450px;
        width: 380px;
        padding: 30px;
        border-radius: 13px;
        box-shadow: 2px 9px 20px 0px rgba(0, 0, 0, 0.16);
        > .title {
          display: flex;
          justify-content: space-between;
          > h2 {
            margin: 0;
          }
          > img {
            cursor: pointer;
          }
        }
        > .upload {
          > .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }
          > label {
            background-color: #dcf0ff;
            display: flex;
            width: 100px;
            height: 100px;
            margin: auto;
            border-radius: 50%;
            justify-content: center;
            position: relative;
            > img {
              opacity: 0.4;
            }
            > span {
              position: absolute;
              bottom: 0;
              right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #dcf0ff;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
              > img {
                opacity: 0.4;
              }
            }
          }
        }
        > .form {
          > .name,
          .position,
          .desc {
            display: grid;
            margin-bottom: 15px;
            > input,
            textarea {
              padding: 10px;
              border: 1px solid rgba(0, 0, 0, 0.19);
              border-radius: 5px;
              outline: none;
            }
            > textarea {
              height: 80px;
              outline: none;
            }
          }
        }
        > .action {
          text-align: end;
          margin-top: 10px;
          > button {
            margin-left: 30px;
          }
          > .save {
            width: 120px;
            height: 30px;
            background-color: #242584;
            color: white;
            font-weight: 700;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 6px;
            font-family: "Nunito", sans-serif;
          }
          > .cancel {
            font-weight: 700;
            cursor: pointer;
            border: none;
            background: none;
            color: #9e9e9e;
            outline: none;
            font-family: "Nunito", sans-serif;
          }
        }
      }
    }
    > .importantpeople {
      > .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        > .title {
          display: flex;
          align-items: center;
          > div {
            > .icon__smile {
              padding: 10px;
              background-color: #ff19b8;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              margin-right: 50px;
              > svg {
                font-size: 35px;
                color: white;
              }
            }
          }
          > h2 {
            margin: 0;
            font-size: 33px;
            font-weight: 800;
            color: #242584;
            width: 510px;
          }
        }
        > .action {
          display: flex;
          align-items: center;
          > .edit {
            padding: 10px 30px;
            margin-right: 20px;
            background-color: #fcf595;
            border: none;
            outline: none;
            color: #938b1a;
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
              background-color: #eee128;
            }
          }
          > .add {
            padding: 10px 30px;
            margin-right: 20px;
            background-color: #e5ccff;
            border: none;
            outline: none;
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
              background-color: #c18cfa;
            }
          }
          > span {
            cursor: pointer;
          }
          > .delete {
            margin-left: 20px;
            background-color: #ffeeee;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            > svg {
              color: red;
            }
          }
        }
      }
      > .people {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        > .person {
          padding: 0 30px;
          text-align: center;
          margin-bottom: 50px;
          position: relative;
          &:hover {
            > img {
              display: block;
            }
          }
          > input {
            position: absolute;
            left: 48px;
            top: 16px;
          }
          > img {
            width: 16px;
            position: absolute;
            right: 0;
            right: 43px;
            top: 22px;
            padding: 10px;
            background-color: #dcf0ff;
            border-radius: 50%;
            cursor: pointer;
            display: none;
            &:hover {
              background-color: #b9dbf4;
            }
          }
          > .identity {
            box-shadow: 0px 8px 14px -3px rgba(0, 0, 0, 0.1);
            border-radius: 14px;
            > img {
              border-radius: 14px 14px 0 0;
            }
            > .info {
              > .name {
                margin: 15px 0;
                display: block;
              }
              > .occupation {
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }
    > .partners {
      text-align: center;
      > .title {
        > h2 {
          font-size: 33px;
          font-weight: 800;
          color: #242584;
        }
      }
      > .companies {
        > img {
          padding: 0 27px;
        }
      }
    }
    > .contact__us {
      > .title {
        > h2 {
          font-size: 33px;
          font-weight: 800;
          color: #242584;
          text-align: center;
        }
      }
      > .form__map {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: auto;
        margin-bottom: 11rem;
        > .form {
          box-shadow: 0 28px 64px 0px rgba(0, 0, 0, 0.1);
          border-radius: 15px;
          padding: 30px 40px 70px 40px;
          > form {
            > div {
              display: grid;
              margin-bottom: 15px;
              > label {
                color: #242584;
                font-weight: 700;
              }
              > input,
              select {
                padding: 10px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 5px;
              }
              > textarea {
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                padding: 10px 0 0 15px;
                font-family: "Nunito", sans-serif;
              }
            }
            > .button {
              justify-content: flex-end;
              margin-top: 20px;
              > button {
                width: 120px;
                background-color: #242584;
                color: white;
                padding: 8px 0;
                border: none;
                border-radius: 6px;
                font-family: "Nunito", sans-serif;
                font-weight: 700;
              }
            }
          }
        }
        > .map {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  > .footer {
    background-color: #121871;
    color: white;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    > .footer__content {
      width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: 1.3fr 1fr 1.5fr;
      > .logo {
        z-index: 1;
        display: flex;
        align-items: center;
        > h2 {
          margin-left: 30px;
          font-size: 27px;
        }
      }
      > .address {
        margin-right: 60px;
        > p {
          color: #b4b5c1;
        }
      }
      > .contact {
        > .phone,
        .fax {
          margin-bottom: 10px;
          > p {
            color: #b4b5c1;
          }
        }
      }
    }
  }
}

$slide-count: 5;
$slide-width: 30rem;

.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__inner {
  height: 40rem;
  position: relative;
  width: calc(#{$slide-width * 3});
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(#{($slide-count + 0.5) * $slide-width * 2});
}

.carousel__slide-item {
  display: inline-block;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: $slide-width;
}

.carousel__slide-item-img-link {
  display: flex;
  overflow: hidden;
  position: relative;

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    transition: all 0.5s ease;
  }
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;

  h4 {
    margin: 0.7rem 0 0;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0.7rem 0 0;
  }
}

.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: -10rem;
  }

  &--next {
    right: -10rem;
  }
}

.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;

  &--left {
    transform: rotate(135deg);
  }

  &--right {
    transform: rotate(-45deg);
  }
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);

  .dot {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin: 0 0.3rem;
    outline: none;
    transform: scale(0.5);
    width: 2rem;

    &.active {
      background: black;
    }
  }
}
