html,
body,
#root {
  font-family: "Nunito", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

.header > ul,
.header > ul > li.menu > ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0;
  height: 100%;
}

.header > ul > li.menu > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
