@media only screen and (max-width: 600px) {
  .wrapper {
    > .header {
      > ul {
        width: 100%;
        display: flex;
        padding: 0 27px;
        box-sizing: border-box;
        padding-top: 20px;
        > li {
          > .logo {
            > img {
              width: 60px;
            }
          }
        }
        > .menu {
          display: none;
        }
        > .search {
          display: flex;
          > .search__icon {
            display: none;
          }
        }
      }
      > .nav {
        display: block;
        position: absolute;
        z-index: 10;
        color: white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 5rem;
        background-color: #242584;
        height: 400vh;
        transition: all ease 300ms;
        > ul {
          list-style: none;
          > li {
            margin-bottom: 20px;
            font-size: 19px;
          }
        }
      }
    }
    > .hero {
      > .hero__content {
        width: 100%;
        display: grid;
        justify-content: unset;
        align-items: unset;
        > .img__left,
        .img__right {
          display: none;
        }
        > .banner {
          text-align: center;
          height: auto;
          > img {
            width: 300px;
            margin-top: 70px;
          }
        }
        > .word {
          padding: 0 27px;
          margin-bottom: 0;
          > h1 {
            font-size: 32px;
          }
        }
      }
    }
    > .main__container {
      width: 100%;
      > .content__container {
        > .content {
          grid-template-columns: auto;
          margin-top: 0;
          > .images__content {
            > img {
              width: 100%;
            }
          }
          > .word {
            padding: 0 20px;
            > h2 {
              margin-top: 0;
            }
          }
        }
      }
      > .whatpeoplesay {
        min-width: 100%;
        > .title {
          padding: 0 20px;
          > div {
            > .icon__heart {
              margin-right: 20px;
              width: 45px;
              height: 37px;
              > svg {
                font-size: 25px;
              }
            }
            > .icon__smile {
              margin-right: 20px;

              > svg {
                font-size: 25px;
              }
            }
            > h2 {
              font-size: 24px;
              width: 100%;
            }
          }
          > .icon__next {
            display: none;
          }
        }
        > .testimoni {
          display: flex;
          padding-left: 0;
          > .person {
            padding: 20px;
            min-width: 100%;
          }
        }
        > .dot {
          display: flex;
          justify-content: center;
          > div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 3px;
          }
        }
      }
      > .importantpeople {
        > .heading {
          display: grid;
          > .title {
            padding: 0 20px;
            > h2 {
              width: 100%;
              font-size: 23px;
            }
            > div {
              > .icon__smile {
                margin-right: 20px;
                > svg {
                  font-size: 25px;
                }
              }
            }
          }
          > .action {
            justify-content: center;
            margin-top: 20px;
          }
        }
        > .people {
          > .person {
            width: 140px;
            margin-bottom: 30px;
            padding: 0 20px;
            > .identity {
              > img {
                width: 100%;
              }
              > .info {
                > .occupation {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      > .partners {
        > .companies {
          > img {
            padding: 0 10px;
            width: 70px;
          }
        }
      }
      > .contact__us {
        > .form__map {
          grid-template-rows: 1fr 1fr;
          grid-template-columns: auto;
          margin-bottom: 10px;
          > .form {
            padding: 30px 30px 10px 30px;
            > .message {
              > textarea {
                height: 90px;
              }
            }
          }
        }
      }
    }
    > .footer {
      padding: 20px 30px;
      > img {
        display: none;
      }
      > .footer__content {
        width: 100%;
        grid-template-columns: auto;
        grid-gap: 30px;
      }
    }
  }
  .carousel__dots {
    padding: 100%;
    text-align: center;
  }
  .carousel__slide-item {
    width: 5rem;
    box-sizing: border-box;
  }
}
